header {height: 200px; }
.login {color:rgb(83, 83, 83);font-size: 20px;}
.logo {font-size: 80px;}
.login:hover {color: rgb(184, 184, 184);}
.menu {height: 50px; background-color: rgb(209, 209, 209);}
.s-menu {font-size: 25px; color: #000; margin: 0; padding: 0;}
.s-menu:hover {background: #000; color: rgb(209, 209, 209);}
.contents {height: 550px;}
.contents2 {height: 500px; background-color: #000;}
.img-size {width: 300px; height: 400px; padding-bottom: 10px; margin-top : 30px;}
.img-size1 {width: 200px; height: 300px;}
.text {text-align: center;}
select {width: 300px;}
.head1 {margin-top: 30px;}
.head2 {color: #fff; font-weight: bold;}